* {

    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



.contanier {
    background-color: black;
    display: flex;
    width: auto;
    font-size: 22px;
}

.section {
    color: white;
    display: flex;
    margin: 10px;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    /* font-size: 25px; */
}

.list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.list2 {
    margin-left: 60px;
    list-style: none;
    display: flex;
    gap: 68px;
}

.list3 {
    margin-left: 70px;
    margin: auto;
    padding: 20px;
}

.list3 button {

    padding: 10px;
    font-size: 22px;
    background-color: blue;
    border: none;
}



.section2 {
    display: flex;
    margin: 10px;
    margin-left: 400px;
    height: 20px;
}

.list4 {
    display: flex;
    list-style: none;
    gap: 70px;
    color: rgb(125, 122, 122);
    justify-content: center;
}


.container22 {

    max-width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(0, 0, 0);
}

.box22 {

    width: 700px;
    height: 400px;



}

.box22 img {

    width: 100%;
}

.box22 h1{

    color: white;
    padding: 20px;
    text-align: center;
}

.box22 p{

    color: white;
    text-align: center;

}

.box22 button{

    padding: 20px;
    margin-left: 40%;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    color: white;
    border: 2px solid blue;
    border-radius: 20px;
}

.asa{

    margin-top: 10px;
    text-align: center;
}

.ads{
    text-align: center;
    color: rgb(116, 111, 111);
}

.container222{

    margin-top: 20px;
    max-width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
}

.box44{

    width: 400px;
    height: 400px;
 
    margin: 30px;
}

.box44 img{
    width: 100%;
    height: 100%;
   
}

.adss{

    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.adss b{
    color: blue;
}

.redd{
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
    color: gray;
}

.ftr{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 25px;
}



@media (max-width: 1200px) {
    .section {
        gap: 40px;
        margin-left: 20px;
        font-size: 20px;
    }

    .section2 {
        margin-left: 150px;
    }

    .container22 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .box22 {
        width: 90%;
    }
}


@media (max-width: 990px) {
    .section {
        flex-direction: column;
        gap: 20px;
    }

    .list,
    .list2 {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section2 {
        margin-left: 0;
        justify-content: center;
    }

    .list4 {
        gap: 30px;
        flex-wrap: wrap;
    }
}


@media (max-width: 770px) {
    .contanier {
        flex-direction: column;
        align-items: center;
    }

    .list3 {
        display: flex;
        gap: 20px;
    }

    .container222 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .box44 {
        width: 90%;
        height: auto;
    }

    .box44 img {
        height: auto;
    }
}

@media (max-width: 577px) {
    .section h1 {
        font-size: 26px;
    }

    .list,
    .list2,
    .list4 {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .box22 button {
        margin-left: 30%;
    }

    .ftr {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}


@media (max-width: 477px) {
    .section {
        font-size: 18px;
    }

    .box22 h1 {
        font-size: 22px;
    }

    .box22 p {
        font-size: 14px;
    }

    .box22 button {
        padding: 12px;
        margin-left: 25%;
    }
}


@media (max-width: 325px) {
    .section h1 {
        font-size: 20px;
    }

    .box22 h1 {
        font-size: 18px;
    }

    .box22 p {
        font-size: 13px;
    }

    .box22 button {
        margin-left: 15%;
        font-size: 14px;
    }

    .icons i {
        font-size: 14px;
    }
}
